@use "./../helpers/mixins" as *;
@use "./../helpers/variables" as *;
@use "./../helpers/placeholders" as *;

.works-card {
  @extend %card_style;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  .card-title {
    margin-bottom: 20px;
    width: 100%;

    & > div {
      width: 100%;
      text-align: end;

      h2 {
        @extend %h2_style;
        width: 100%;
      }

      .line-gradient {
        @extend %line_style;
        background: linear-gradient(90deg, $main_color, $alt_color);
      }

      & > h4 {
        @extend %h4_style;
      }
    }

    h3 {
      display: none;
    }
  }

  .work-content {
    display: grid;
    gap: 1rem;
    margin-bottom: 3rem;
    width: 100%;

    .work {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 100%;
        cursor: default;

        .work-thumb {
          width: 21rem;
          height: 12rem;
          border-radius: 10px;
          object-fit: fill;
          object-position: center;
        }

        .progress-box {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 10px;
          height: 10rem;

          .progress-label {
            color: #fff;
            letter-spacing: 3px;
            font-weight: bold;
          }

          .progress {
            border-radius: 20px;
            padding: 5px;
            position: relative;
            outline: 1px solid #fff;
            width: 16rem;

            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 64%;
              height: calc(100% - 4px);
              margin: 2px;
              border-radius: 20px;
              background: linear-gradient(90deg, $main_color, $alt_color);
              animation: progress 2s linear infinite;
            }
          }
        }
      }

      &:last-child {
        display: none;
      }
    }
  }

  .view-all-btn {
    width: 20rem;
    margin: 0 auto;
    border-radius: 50px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    color: $alt_color;
    text-transform: capitalize;
    font-size: 1.3rem;
    position: relative;
    background: $blue_color;
    cursor: default;

    &:hover {
      box-shadow: 0 0 20px $blue_color;
    }

    .arrow-right {
      position: absolute;
      right: 5rem;
      width: 30px;
      height: 30px;
    }

    &:focus {
      background-color: $blue_color;
      color: $alt_color;
    }
  }
}

@keyframes progress {
  to {
    background-position-x: 160px;
  }
}

@media (width >= 40rem) {
  .works-card {
    width: 90%;
    box-shadow: 0 10px 20px $shadow_color;
    border-radius: 20px;
    margin: 0 auto 20px;

    .work-content {
      .work {
        a {
          .work-thumb {
            width: 34rem;
            height: 18rem;
          }
        }
      }
    }
  }
}

@media (width >= 48rem) {
  .works-card {
    margin: 0 3rem 0 0;
    width: 80%;
    align-self: self-end;
    transform: translateY(-100px);
    position: relative;
    z-index: 2;

    .card-title {
      margin-bottom: 0;
      display: flex;

      & > div {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
          text-align: end;
        }
      }

      h3 {
        @include number_style;
        display: flex;
        justify-content: center;
        width: 50%;
      }
    }

    .work-content {
      .work {
        a {
          .work-thumb {
            width: 36rem;
          }
        }
      }
    }
  }
}

@media (width >= 64rem) {
  .works-card {
    margin: 0;
    width: 90%;
    justify-content: end;

    .work-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .work {
        transition-duration: 0.3s;
        a {
          .work-thumb {
            width: 23rem;
          }
          &:has(img) {
            cursor: pointer;
          }
        }
      }
    }
  }
  .works-card .work-content .work:not(:has(.progress-box)):hover {
    transform: scale(1.1);
  }
}

@media (width >= 80rem) {
  .works-card {
    .work-content {
      grid-template-columns: repeat(3, 1fr);

      .work {
        a {
          .work-thumb {
            width: 20rem;
          }
        }

        &:last-child {
          display: flex;
        }
      }
    }

    .view-all-btn {
      position: relative;
      z-index: 1;
      overflow: hidden;
      transition: all 300ms ease-in-out;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        background-color: $blue_color;
        z-index: -1;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 300ms ease-in-out;
      }

      &:hover {
        color: $alt_color;

        &::before {
          transform: scaleX(1);
        }
      }

      .arrow-right {
        right: -30px;
        transition: all 300ms ease-in-out;
      }

      &:hover .arrow-right {
        right: 70px;
      }
    }
  }
}
